    <script src="https://kit.fontawesome.com/b42148c4b8.js" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
  </body>
  <footer>
    <p>
      Created with <i class="fa fa-heart"></i> 
      <!-- <a target="_blank" href="https://florin-pop.com"></a>
      <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/"></a> -->
    </p>
  </footer>
</html>