    <script src="https://kit.fontawesome.com/b42148c4b8.js" crossorigin="anonymous"></script>
  </body>
  <footer>
    <p>
      <!-- Created with <i class="fa fa-heart"></i>  -->
    </p>
  </footer>
</html>