<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InterviewPreP</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/navbar.css">
  <script src="https://kit.fontawesome.com/b42148c4b8.js" crossorigin="anonymous"></script>
  <link  href="https://fonts.googleapis.com/css?family=QuickSand:500" rel ="stylesheet">
  <div class="wrapper">
    <nav>
      <div class="logo"><a href="/">InterviewPreP</a></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/problems">Problems</a></li>
        <li><a href="/createBlog">New blog</a></li>
        <li><a href="/createProblem">Post a problem</a></li>
        <li><a class="active" href="/logout">log out</a></li>
      </ul>
    </nav>
  </div>
</head>
<body>
    