<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/card.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<% for(var i=0; i<10 ; i++){ %>
<div class="webinar-card">
    <div class="webinar-card__content">
        <h3 class="userInfo"><span class="material-symbols-outlined">account_circle</span> Karthik Datla</h3>
        <ul class="content-info">
            <li class="info info-icon info-time">Posted 3 hours ago</li>
        </ul>
        <p>The eyes of the motorsport world will be on the event more than ever― Formula 1 Driver Fernando Alonso went so far as to skip the Monaco Grand Prix, arguably the biggest race on the F1 calendar, just to drive in the Indianapolis 500.</p>	
        <span class="label">Racing</span>
        <a id="registerBtn" class="btn">comment</a>
    </div>
    <div class="space"></div>
</div>
<%}%>

<%- include("partials/footer") -%>