<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/card.css">
<div class="webinar-card">
    <div class="webinar-card__content">
        <h1 class="userInfo"> Nth Magic Number</h1>	
        <a id="registerBtn" class="btn">know more</a>
        <br>
        <p>Companies: <span class="label">Innovites</span> Related Topics: <span class="label">Bit Manipulation</span></p>
    </div>
</div>
<div class="webinar-card">
    <div class="webinar-card__content">
        <h1 class="userInfo"> Generate Parenthesis</h1>	
        <a id="registerBtn" class="btn">know more</a>
        <br>
        <p>Companies: <span class="label">DarwinBox</span> Related Topics: <span class="label">Backtracking</span></p>
    </div>
</div>
<div class="webinar-card">
    <div class="webinar-card__content">
        <h1 class="userInfo"> Cost to buy and sell stocks</h1>	
        <a id="registerBtn" class="btn">know more</a>
        <br>
        <p>Companies: <span class="label">MentorGraphics</span> Related Topics: <span class="label">Dynamic Programming</span></p>
    </div>
</div>
<%- include("partials/footer") -%>