<%- include('partials/header') -%>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/post.css">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<div action="/submit" method="post" class="container form-container sign-in-container">
	<h2>Compose Problem</h2>
	<div class="title">
		<label>Problem Title</label>
		<textarea class="form-control" name="titleInput" cols="100" rows="1" class="composeCon"></textarea>
	</div>
	<br>
	<label >Problem details</label>
	<br><br>
	<div id="editor"></div>
	<br>
	<label >Problem Editorial</label>
	<br><br>
	<div id="editorial"></div>
	<br>
	<div class="tags">
		<label>Companies</label>
		<textarea name="companiesInput" cols="100" rows="1" class="composeCon" placeholder="If more than one, keep it in commas. Ex:CompanyName, Experience"></textarea>
	</div>
	<br>
	<div class="tags">
		<label>Related topics</label>
		<textarea name="topicsInput" cols="100" rows="1" class="composeCon" placeholder="If more than one, keep it in commas. Ex:CompanyName, Experience"></textarea>
	</div>
	<br>
	<script>
		var editor = new Quill('#editor', {
				modules: {
					toolbar: [
						[{ header: [1, 2, false] }],
						['bold', 'italic', 'underline'],
						['image', 'code-block']
					]
				},
				theme: 'snow',
			});
		
			var editorial = new Quill('#editorial', {
				modules: {
					toolbar: [
						[{ header: [1, 2, false] }],
						['bold', 'italic', 'underline'],
						['image', 'code-block']
					]
				},
				theme: 'snow',
			});

			async function sendPost() {
				const editorContent = editor.getContents().ops;
				const editorialContent = editorial.getContents().ops;
				const title = document.querySelector('.form-control').value;
				const data = {
					problemStatement: editorContent,
					editorial: editorialContent,
					title: title
				}
				const response = await fetch('/createProblem', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(data)
				});
				if(response.ok){
					window.location.replace('http://localhost:3000');
				}
			}
	</script>
	<button onclick="sendPost()" class="btn">Publish</button>    
</div>
<%- include('partials/footer') -%>