<%- include('partials/header') -%>
    <link rel="stylesheet" href="/css/post.css">
    <div class="container form-container sign-in-container">
        <h1>
            <%= title %>
        </h1>
        <p>
            <%- content -%>
        </p>
    </div>
    <%- include('partials/footer') -%>