<%- include('partials/header') -%>
<link rel="stylesheet" href="css/post.css">
<div class="container form-container sign-in-container">
    <h1>#Blog-Title</h1>
    <p>
        #Blog-Content
    </p>
    <!-- <a id="registerBtn" class="btn">Comment</a> -->
</div>
<%- include('partials/footer') -%>